{% extends 'layout.html' %}

{% block title %}4Cast{% endblock %}

{% block content %}

{% if session['username'] %}
<br>
<div class = "row">
    <div class ="col-md-1">

    </div>
    <div class="col-md-8 personaldetails">
    <h2>{{'Welcome, '+session['fullname'] + '!' }}</h2>
    </div>

    <div class="col-md-3">
    <h5>{{ 'Mobile:'+session['mobile']}}</h4>
    <h5>{{ 'Email:'+session['email']}}</h4>
    </div>
</div>

{% else %}
<h2>User has been currently logged out. Log in to access app features</h2>
{% endif %}


{% endblock %}